.container {
    width: 450px;
    height: 600px;
    background-color: #eee;
    margin: 10px auto 0;
    box-shadow: 0 0 16px #999;
    position: relative;
}

.header {
    background-color: #000;
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding: 0 10px;
}

.header>span:first-child {
    float: left;
}

.header>span:last-child {
    float: right;
}

.content {
    margin: 0;
    list-style: none;
    padding: 5px;
    width: 450px;
    height: 490px;
    overflow: auto;
    font-size: 20px;
    box-sizing: border-box;
}

.content li:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.content li {
    *zoom: 1;
    margin: 10px 10px 0 10px;
}

.content li .imgLeft,
.content li .spanLeft {
    float: left;
}

.content li .spanLeft {
    background-color: #fff;
}

.content li .imgRight,
.content li .spanRight {
    float: right;
}

.content li .spanRight {
    background-color: #7cfc00;
}

.content li span {
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 3px #ccc;
    max-width: 300px;
    word-wrap: break-word;
    padding: 10px;
    margin: 6px 10px 0 10px;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
}

.footer {
    width: 430px;
    padding: 10px;
    height: 40px;
    background-color: #999;
    position: absolute;
    bottom: 0;
}

.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    overflow: hidden;
    position: absolute;
    bottom: 5px;
    cursor: pointer;
}

.footer input {
    width: 300px;
    height: 38px;
    border-radius: 6px;
    position: absolute;
    right: 80px;
    text-indent: 10px;
    outline: none;
    bottom: 8px;
}

.footer span {
    display: inline-block;
    width: 62px;
    height: 38px;
    background-color: #ccc;
    font-weight: 900;
    position: absolute;
    right: 10px;
    border-radius: 6px;
    text-align: center;
    line-height: 38px;
    bottom: 10px;
    cursor: pointer;
}

.footer span:hover {
    color: #777;
    background-color: #ddd;
}

.footer button {
    width: 62px;
    height: 38px;
    background-color: #ccc;
    font-weight: 900;
    position: absolute;
    right: 10px;
    border-radius: 6px;
    bottom: 10px;
    cursor: pointer;
    border: 0;
    outline: none;
}


/* .footer button:hover {
    color: #777;
    background-color: #ddd;
} */